<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="headComponents.html :: components"></div>
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="/static/img/KPD_logo.png" alt="logo" width="100"></a>

        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="/cart" id="cart">
                <i class="fa fa-shopping-cart"></i>Cart
                <span class="text-success" th:text="(${cart} != null) ? (${cart.getCartSize()}) : 0 "></span>
            </a></li>
            <li><a class="nav-link" id="register" data-toggle="modal" data-target="#modalRegisterForm"
                   href="#"><span class="link fas fa-user-plus"></span> Sign in</a></li>
            <li><a class="nav-link" id="login" data-toggle="modal" data-target="#modalLoginForm"
                   href="#"><span class="link fas fa-sign-in-alt"></span> Log in</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:if="${cart == null}">
        <h1 class="text-secondary text-center mt-5" id="emptyCard">Your cart is empty</h1>
    </div>
    <div th:unless="${cart == null}">
        <h1 class="text-secondary text-center mt-5 hidden" id="emptyCard">Your cart is empty</h1>
        <span id="notEmptyCard">
            <div class="card-header">
                <div class="order-summary">
                    <h4 id="total-to-pay"
                        th:text="${#numbers.formatDecimal(cart.getLineItemsTotalPrice(),1,'COMMA',2,'POINT')}"></h4>
                </div>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button th:case="false" type="button" class="btn btn-secondary" id="checkout-button"
                                onclick="location.href='/checkout'">Checkout
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary" onclick="location.href='/'">Continue shopping
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-line-item" th:each="lineItem : ${cart.getLineItems()}">
                <div class="card-product-img"><img class="fit_contain" src="http://placehold.it/400x250/000/fff"
                                                   th:attr="src='/static/img/product_' + ${lineItem.getProduct().id} + '.jpg'"
                                                   alt=""/></div>
                <div class="card-product-name">
                    <h3 th:text="${lineItem.getProduct().name}">Product name</h3>
                    <p th:text="${lineItem.getProduct().description}">Description</p>
                </div>
                <div class="card-product-summary">
                    <div class="total-price-wrapper">
                        <h4 class="total-line-price"
                            th:text="${#numbers.formatDecimal(lineItem.getLinePrice(),1,'COMMA',2,'POINT')}"></h4>
                    </div>
                    <div class="total-price-wrapper">
                        <h5 class="line-unit-price"
                            th:text="${#numbers.formatDecimal(lineItem.getProduct().getDefaultPrice(),1,'COMMA',2,'POINT')}"></h5>
                    </div>
                    <div class="card-product-actions" th:id="${lineItem.getLineId()}">
                        <button class="line-item-summary-wrapper increase-qty">+</button>
                        <input class="line-item-summary-wrapper choose-qty" th:attr="data-qty=${lineItem.getQty()}"
                               th:value="${lineItem.getQty()}"/>
                        <button class="line-item-summary-wrapper decrease-qty">-</button>
                        <button class="fa fa-trash-alt line-item-summary-wrapper"></button>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

<div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

</body>
</html>