<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="headComponents.html :: components"></div>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="/static/img/KPD_logo.png" alt="logo" width="100"></a>

        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="/cart" id="cart">
                <i class="fa fa-shopping-cart"></i>Cart
                <span class="text-success" th:text="${itemsNumber}">0</span>
            </a></li>
            <li><a class="nav-link" id="register" data-toggle="modal" data-target="#modalRegisterForm"
                   href="#"><span class="link fas fa-user-plus"></span> Sign in</a></li>
            <li><a class="nav-link" id="login" data-toggle="modal" data-target="#modalLoginForm"
                   href="#"><span class="link fas fa-sign-in-alt"></span> Log in</a></li>
        </ul>
    </div>
</nav>


<div class="container">

    <div class="card-header">
        <div class="cart-summary">
            <h4 th:text="${'Total to pay: ' + cartValue}"></h4>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary" onclick="location.href='/checkout'" th:disabled="${itemsNumber == 0}">Checkout</button>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">Continue shopping</button>
            </div>
        </div>
    </div>

    <div class="card-line-item" th:each="product : ${orderedProducts.entrySet()}">

        <div class="card-product-img"><img class="fit_contain" src="http://placehold.it/400x250/000/fff"
                                           th:attr="src='/static/img/product_' + ${product.getKey().id} + '.jpg'"
                                           alt=""/></div>
        <div class="card-product-name">
            <h3 th:text="${product.getKey().name}">Product name</h3>
            <p th:text="${product.getKey().description}">Description</p>
        </div>

        <div class="card-product-summary">
            <div class="total-price-wrapper"><h4 th:text="${'Total: ' + product.getKey().defaultPrice * product.getValue()}"></h4></div>
            <div class="total-price-wrapper"><h5 th:text="${'Unit price: ' + product.getKey().price}"></h5></div>
            <div class="card-product-actions">
                <button class="line-item-summary-wrapper" id="increase-qty">+</button>
                <input class="line-item-summary-wrapper" id="chosen-qty" th:value="${product.getValue()}"/>
                <button class="line-item-summary-wrapper" id="decrease-qty">-</button>
                <button class="fa fa-trash-alt line-item-summary-wrapper" id="remove-product"></button>
            </div>

        </div>

    </div>
</div>

<div th:replace="footer.html :: copy"></div>

<div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

</body>
</html>