<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Font awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css"
          integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css"
          integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

    <!-- End of Bootstrap components -->

    <script type="module" src="/static/js/main.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="/static/img/KPD_logo.png" alt="logo" width="100"></a>

        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Categories</a>

                <div class="dropdown-menu" aria-labelledby="category-filter">
                    <a class="dropdown-item chosen-category"
                       th:each="category: ${categories}"
                       th:href="@{/(category=${category.getName()})}"
                       th:text="${category.name}">Category name</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Reset sorting</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="supplier-filter" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Supplier</a>

                <div class="dropdown-menu" aria-labelledby="supplier-filter" >
                    <a class="dropdown-item chosen-supplier"
                       th:each="supplier : ${suppliers}"
                       th:href="@{/(supplier=${supplier.name})}"
                       th:text="${supplier.name}"></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/">Reset sorting</a>
                </div>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="#" id="cart">
                <i class="fa fa-shopping-cart"></i>Cart
                <span class="text-success">0</span>
            </a></li>
            <li><a class="nav-link" id="register" data-toggle="modal" data-target="#modalRegisterForm"
                   href="#"><span class="link fas fa-user-plus"></span> Sign in</a></li>
            <li><a class="nav-link" id="login" data-toggle="modal" data-target="#modalLoginForm"
                   href="#"><span class="link fas fa-sign-in-alt"></span> Log in</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="card m-2">
<!--        <strong th:text="${category.name}">Category Title</strong>-->
    </div>

    <div id="products" class="row m-2">
        <div class="col col-sm-12 col-md-6 col-lg-4 mb-2" th:each="prod,iterStat : ${products}">
            <div class="card h-100" th:attr="data-product-id=${prod.id}">
                <span class="h-60"><img class="card-img-top" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" /></span>
                <div class="card-header" style="height: 15vh;">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body" style="height: 13vh;">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text cart-button">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

<div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img class="modal-content" id="img01" alt="image">
    <div id="caption"></div>
</div>

</body>
</html>