<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="headComponents.html :: components"></div>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="/static/img/KPD_logo.png" alt="logo" width="50%"></a>


        <form class="form-inline my-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
            <li><div class="nav-link" th:if="${session.containsKey('name') and session.name!=null}" th:text="'Happy Shopping ' + ${session.name} + ' !'"></div></li>
            <li><a class="nav-link" href="/cart" id="cart">
                <i class="fa fa-shopping-cart"></i>Cart
                <span class="text-success" th:text="${itemsNumber}">0</span>
            </a></li>
            <li><a class="nav-link" id="register" href="/registration">
                <span class="link fas fa-user-plus"></span> Sign in</a></li>
            <li th:if="${!session.containsKey('name') or session.name==null}" ><a class="nav-link" id="login" href="/login">
                <span class="link fas fa-sign-in-alt"></span> Log in</a></li>
            <li th:if="${session.containsKey('name') and session.name!=null}" ><a class="nav-link" id="logout" href="/login?login-status=logout">
                <span class="link fas fa-sign-out-alt"></span> Log out</a></li>
        </ul>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <div class="dropdown m-1">
        <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Categories</a>

        <div class="dropdown-menu" aria-labelledby="category-filter">
            <a class="dropdown-item chosen-category"
               th:each="category: ${categories}"
               th:href="@{/(category=${category.getName()})}"
               th:text="${category.name}">Category name</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Reset filter</a>
        </div>
    </div>

    <div class="dropdown m-1">
        <a class="btn btn-secondary dropdown-toggle" href="#" id="supplier-filter" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Supplier</a>

        <div class="dropdown-menu" aria-labelledby="supplier-filter" >
            <a class="dropdown-item chosen-supplier"
               th:each="supplier : ${suppliers}"
               th:href="@{/(supplier=${supplier.name})}"
               th:text="${supplier.name}"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Reset filter</a>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 10vh">
    <div class="card m-2">
<!--        <strong th:text="${category.name}">Category Title</strong>-->
    </div>

    <div id="products" class="row m-2">
        <div class="col col-sm-12 col-md-6 col-lg-4 mb-2" th:each="prod,iterStat : ${products}">
            <div class="card h-100" th:attr="data-product-id=${prod.id}">
                <span class="h-60"><img class="card-img-top" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/' + ${prod.getPictureName()}" alt="" /></span>
                <div class="card-header" style="height: 15vh;">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body" style="height: 13vh;">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text cart-button">
                        <a class="btn btn-success">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

<div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img class="modal-content" id="img01" alt="image">
    <div id="caption"></div>
</div>

</body>
</html>