<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="headComponents.html :: components"></div>
    <title>Sign up</title>
    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>

    <script type="module" src="/static/js/checkoutManager.js" defer></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <a class="navbar-brand" href="/"><img src="/static/img/KPD_logo.png" alt="logo" width="100"></a>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" id="register" data-toggle="modal" data-target="#modalRegisterForm"
                   href="#"><span class="link fas fa-user-plus"></span> Sign in</a></li>
            <li><a class="nav-link" id="login" data-toggle="modal" data-target="#modalLoginForm"
                   href="#"><span class="link fas fa-sign-in-alt"></span> Log in</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card-body p-5" style="background-color: #eeeeee">

        <form class="needs-validation" method="post" action="/registration">
            <span id="emailAndPasswordContainer">
                <h4 class="mb-3">Email and password</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="" name="email"
                               required placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Valid Email is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="" value="" name="password"
                               required pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$">
                        <div class="invalid-feedback">
                            Valid password required.
                        </div>
                    </div>
<!--                    <div class="col-md-4 mb-3">-->
<!--                        <label for="password">Repeat password</label>-->
<!--                        <input type="password" class="form-control" id="repeatPassword" placeholder="" value="" name="repeatPassword"-->
<!--                               required pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$">-->
<!--                        <div class="invalid-feedback">-->
<!--                            Passwords must be equals!-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="row d-flex justify-content-center">Password must contain at least one letter, at least one number, and be longer than six charaters.</div>
            </span>

            <span id="billingAddressContainer">
                <hr class="mb-4">
                <h4 class="mb-3">Billing address</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="billingFirstName">First name</label>
                        <input type="text" class="form-control" id="billingFirstName" placeholder="" value="" name="firstName" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="billingLastName">Last name</label>
                        <input type="text" class="form-control" id="billingLastName" placeholder="" value="" name="lastName" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="billingPhone">Phone number</label>
                    <input type="text" class="form-control" id="billingPhone" name="phone" placeholder="+48 123456789" required>
                    <div class="invalid-feedback">
                        Please enter a valid phone number for billing updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="billingAddress">Address</label>
                    <input type="text" class="form-control" id="billingAddress" name="billingAddress" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="billingCountry">Country</label>
                        <select class="custom-select d-block w-100" id="billingCountry" name="billingCountry" required>
                            <option value="">Choose...</option>
                            <option>Poland</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="billingCity">City</label>
                        <input type="text" class="form-control" id="billingCity" name="billingCity" placeholder="" required>
                        <div class="invalid-feedback">
                            City required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="billingZip">Zip</label>
                        <input type="text" class="form-control" id="billingZip" name="billingZip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
            </span>
            <fieldset id="shippingAddressContainer">
                <hr class="mb-4">
                <h4 class="mb-3">Shipping address</h4>
                <div class="mb-3">
                    <label for="shippingAddress">Address</label>
                    <input type="text" class="form-control" id="shippingAddress" name="shippingAddress" placeholder="1234 Main St"
                           required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="shippingCountry">Country</label>
                        <select class="custom-select d-block w-100" id="shippingCountry" name="shippingCountry" required>
                            <option value="">Choose...</option>
                            <option>Poland</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="shippingCity">City</label>
                        <input type="text" class="form-control" id="shippingCity" name="shippingCity" placeholder="" required>
                        <div class="invalid-feedback">
                            City required.
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="shippingZip">Zip</label>
                        <input type="text" class="form-control" id="shippingZip" name="shippingZip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="same-address" name="sameAddress">
                <label class="custom-control-label" for="same-address">Shipping address is the same as my
                    billing address</label>
            </div>
            <hr class="mb-4">

            <button type="submit" class="btn btn-primary btn-lg btn-block mb-5" id="submitButton">Sign up!
            </button>

        </form>

    </div>

    <div th:replace="footer.html :: copy"></div>

</div>
</body>
</html>