.card-line-item, .card-header {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
}

.card-header {
    justify-content: flex-end;
}

.order-summary {
    padding-right: 1em;
 }

.fit_contain {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.card-product-img {
    width: 200px;
    background-color:  white;
    height: 200px;
}

.card-product-name {
    padding: 0.5em;
    width: 600px;
    height: 100%;
    word-wrap: break-word;
    overflow:auto;
}

.card-product-summary{
    padding: 0.5em;
    width: 250px;
    display: inline-block;
}

.line-item-summary-wrapper {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    text-align:center;
}

button.line-item-summary-wrapper,
input.line-item-summary-wrapper{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
}

.card-product-actions {
    display: inline-block;
    padding-top: 20px;
}
.hidden {
    display: none;
}